# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Excel and pdf files
*.xls
*.xlsx
*.pdf
*.csv
*.txt

#Extra python and cpp stuffs
.venv
.vscode

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Custom Folders
Mg-Sn
Ni-Nb
SingleDissolution